<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="/public/images/favicon/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/js/jquery.pan-master/dist/css/jquery.pan.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Chi tiết</title>
    <style>
        body {
            background: #f5f5f5;
        }

        .form-floating>label {
            transition: transform 0.2s ease-in-out;
        }

        .btn-hover-dark:hover {
            background: #000 !important;
        }

        #draggable:hover {
            cursor: move;
        }

        .cart-empty-img {
            background: url('/./public/images/cart/empty-cart.png') center no-repeat;
            background-size: 150px;
        }

        .img {
            max-width: 300px;
            height: auto;
            cursor: pointer;
        }

        .cart-btn-close:hover {
            color: crimson;
            cursor: pointer;
        }

        .jconfirm-buttons {
            display: flex;
            flex-direction: row-reverse;
        }

        .jconfirm-buttons button:hover {
            color: #fff !important;
            background: #000 !important;
        }
    </style>
</head>

<body id="body">
    <header class="fw-bold position-sticky top-0 shadow-sm z-3" style="background-color: #17252a;">
        <div class="container">
            <div class="row py-2">
                <div class="col-md-6 col-6 d-none d-md-block">
                    <div class="text-start">
                        <a class="text-white text-decoration-none fw-bold" href="#"><i
                                class="fas fa-question-circle"></i> Trợ
                            giúp</a>
                        <a class="text-white text-decoration-none fw-bold mx-2" href="#"><i
                                class="fas fa-newspaper"></i> Tin tức</a>
                        <a class="text-white text-decoration-none fw-bold" href="#"><i class="fas fa-tags"></i> Khuyến
                            mãi</a>
                    </div>
                </div>
                <div class="col-md-6 col-12 ">
                    <div class="text-center text-md-end">
                        <a class="text-white text-decoration-none fw-bold" href="#"><i class="fas fa-gift"></i> Ưu
                            đãi</a>
                        <a class="text-white text-decoration-none fw-bold mx-2" href="/src/views/login/index.html"><i
                                class="fas fa-sign-in-alt"></i>
                            Đăng
                            nhập</a>
                        <a class="text-white text-decoration-none fw-bold" href="/src/views/signup/index.html"><i
                                class="fas fa-user-plus"></i>
                            Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: #3aafa9;">
            <div class="container py-2 px-3">
                <div class="row align-items-center justify-content-around my-1">

                    <div class="col-md-3 col-3 d-flex justify-content-center">
                        <a href="/src/views/home/"> <img src="/public/images/logo/store.png" alt=""
                                style="width: 175px;"></a>
                    </div>

                    <div class="col-md-6 col-6 d-flex justify-content-end position-relative d-none d-md-block">
                        <input type="text" placeholder="Tìm Kiếm" class="w-100 py-2 px-1 border-0 px-3 rounded-5"
                            style="width: 150px; outline: none;">
                        <i class="fa-solid fa-magnifying-glass position-absolute" style="top: 12px; right: 30px;"></i>
                    </div>

                    <div class="text-center col-md-3 col-3 d-flex d-md-block">
                        <!-- <a href="" class="me-3"><i class="fa-solid fa-user fs-3 text-white"></i></a> -->
                        <a href="/src/views/cart/index.html" class="position-relative">
                            <span class="fs-3"><i class="fa-solid fa-cart-shopping text-white"></i></span>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                                0
                            </span>
                        </a>
                    </div>

                    <div class="col-md-12 position-relative d-block d-md-none mb-3">
                        <input type="text" placeholder="Tìm Kiếm" class="w-100 py-2 px-1 border-0 px-3 rounded-5"
                            style="width: 150px; outline: none;">
                        <i class="fa-solid fa-magnifying-glass position-absolute" style="top: 12px; right: 30px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Empty cart -->
    <!-- <main class="container d-flex flex-column justify-content-center overflow-hidden"
        style="min-height: calc(100vh - 200px);">
        <div class="cart-empty-img" style="height: 10rem;"></div>
        <div class="row text-center justify-content-center">
            <p>Giỏ hàng của bạn còn trống</p>
            <button class="btn btn-hover-dark col-4 col-md-2 fw-semibold text-white" style="background: #00cc66;">Mua
                ngay</button>
        </div>
    </main> -->
    <!-- /Empty cart -->

    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="image1.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="image2.jpg" style="width:100%">
        </div>
        <!-- Add more slides as needed -->
    </div>


    <main>
        <section class="mx-2">
            <div class="container">
                <div class="row py-3 bg-white text-lg-start text-center">
                    <div class="col-md-5 col-12 d-flex justify-content-center flex-column text-center">
                        <div class="d-flex justify-content-center">
                            <img src="/public/images/product/text 1.jpg" alt="" class="img-fluid"
                                style="height: 400px;">
                        </div>
                        <div class="col-lg-12 col-12 justify-content-center my-2 d-none d-md-flex">
                            <div class="flex-wrap border border-black p-2 d-flex gap-4 justify-content-center">
                                <img src="/public/images/section/h2.jpg" alt="" style="height: 75px;">
                                <img src="/public/images/section/h3.jpg" alt="" style="height: 75px;">
                                <img src="/public/images/section/h4.jpg" alt="" style="height: 75px;">
                                <img src="/public/images/section/h5.jpg" alt="" style="height: 75px;">
                                <img src="/public/images/section/h6.jpg" alt="" style="height: 75px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-12">
                        <h4>Nghệ Thuật Hiện Diện</h4>
                        <div class="row">
                            <p>Tác giả: <a href="" class="text-decoration-none text-dark fw-bold">Jacqueline
                                    Whitmore</a></p>
                            <p>Phát hành: <a href="" class="text-decoration-none text-dark fw-bold">AZ Việt Nam</a></p>
                        </div>
                        <hr>
                        <div class="">
                            <p class="text-decoration-line-through">95.000 đ</p>
                            <p class="fw-bold text-danger">80.000 đ</p>
                        </div>
                        <div class="row justify-content-center justify-content-lg-start">
                            <div class="d-flex col-lg-3 col-6 ">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number"
                                        style="border: 1px solid #17252a;" data-type="minus" data-field="quantity">
                                        <span class="fa fa-minus"></span>
                                    </button>
                                </span>
                                <input type="text" name="quantity" class="form-control input-number text-center col"
                                    value="1" min="1" max="100">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number"
                                        style="border: 1px solid #17252a;" data-type="plus" data-field="quantity">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="col-md-12 col-3 row d-flex justify-content-center pb-3 gap-3 justify-content-lg-start "
                            style="width: auto;">
                            <!-- Nút "Thêm vào giỏ hàng" với Bootstrap -->
                            <button class="btn col-4 col-md-4 text-white fw-bold"
                                style="background-color: #17252a;">Thêm
                                giỏ
                                hàng</button>

                            <!-- Nút "Mua" với Bootstrap -->
                            <button class="btn col-4 col-md-4 text-white fw-bold" style="background-color: #17252a;">Mua
                                ngay</button>
                        </div>
                        <div class="row">
                            <p>Bọc Plastic theo yêu cầu</p>
                            <p>Giao hàng miễn phí trong nội thành TP. HCM với đơn hàng ≥ 200.000 đ
                                Giao hàng miễn phí toàn quốc với đơn hàng ≥ 350.000 đ</p>
                        </div>
                    </div>
                </div>

                <div class="row bg-white">
                    <h4>Giới thiệu về sách</h4>
                    <hr>
                    <h6>Nghệ Thuật Hiện Diện</h6>
                    <hr>
                    <p>
                        Làm thế nào để chúng ta nổi bật trong thị trường việc làm cạnh tranh hiện tại khi có rất nhiều
                        người thông minh, có năng lực ngoài kia?

                        Câu trả lời nằm trong “Nghệ thuật hiện diện” - một cuốn sách được viết bởi nhà sáng lập trường
                        đào tạo kỹ năng Palm Beach Jacqueline Whitmore - người chuyên cung cấp các chương trình đào tạo
                        về ứng xử dành cho các doanh nghiệp lớn trên thế giới.

                        Qua từng trang sách, Jacqueline sẽ chỉ cho bạn cách tiến gần hơn mục tiêu mà mình mong muốn
                        thông qua bốn bước: Thay đổi diện mạo - Tạo dấu ấn - Xây thương hiệu và Khẳng định vị thế, với
                        các bài viết thực hành giúp tạo nên dấu ấn cá nhân như: xây dựng tủ đồ thông minh, giao tiếp ứng
                        xử khéo léo, phát triển mạng lưới quan hệ và phong thái làm việc chuyên nghiệp. Qua đó, bạn
                        không chỉ nâng cao giá trị bản thân mà còn có thể tận dụng chính sự độc đáo của mình để mang lại
                        sự hữu ích cho công ty, khách hàng và môi trường xung quanh nói chung.

                        Và đừng quên: “Nhiều hơn vẻ bề ngoài hào nhoáng có thể ngụy tạo, sự hiện diện dù trong thinh
                        lặng vẫn có sức nặng hơn những lời nói ồn ào nhưng trống rỗng.”

                    </p>
                    <hr>
                    <h6>Về tác giả</h6>
                    <hr>
                    <p>
                        Jacqueline Whitmore là nhà sáng lập Trường đào tạo kỹ năng Palm Beach, cung cấp các chương trình
                        đào tạo về giao tiếp, lãnh đạo và huấn luyện điều hành cho các tập đoàn lớn trên thế giới.
                    </p>
                </div>

            </div>
        </section>



        <section class="">
            <div class="container">
                <div class="row shadow-lg mt-5">
                    <div class="d-flex justify-content-between bg-white py-2">
                        <a href="" class="text-decoration-none fw-bold">Sản Phẩm tương tự</a>
                        <a href="" class="text-decoration-none fw-bold">Xem tất cả</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-12 p-3 bg-white">
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-md-12 col-12 text-center">
                                    <!-- Hình ảnh sách -->
                                    <img src="/public/images/section/h5.jpg" alt="Hình ảnh sách" class="img-fluid"
                                        style=" height: 170px;">
                                </div>
                                <div class="col-md-12 col-12 text-center mt-3">
                                    <!-- Tên sách -->
                                    <p class="fw-bold">Nghệ Thuật Hiện Diện</p>
                                    <!-- Giá -->
                                    <p class="text-decoration-line-through">95.000 đ</p>
                                    <p class="fw-bold text-danger">80.000 đ</p>
                                </div>

                                <div class="text-center">
                                    <a href="" class="btn btn-dark">
                                        Thêm giỏ hàng
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12 p-3 bg-white">
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-md-12 col-12 text-center">
                                    <!-- Hình ảnh sách -->
                                    <img src="/public/images/section/h5.jpg" alt="Hình ảnh sách" class="img-fluid"
                                        style=" height: 170px;">
                                </div>
                                <div class="col-md-12 col-12 text-center mt-3">
                                    <!-- Tên sách -->
                                    <p class="fw-bold">Nghệ Thuật Hiện Diện</p>
                                    <!-- Giá -->
                                    <p class="text-decoration-line-through">95.000 đ</p>
                                    <p class="fw-bold text-danger">80.000 đ</p>
                                </div>

                                <div class="text-center">
                                    <a href="" class="btn btn-dark">
                                        Thêm giỏ hàng
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12 p-3 bg-white">
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-md-12 col-12 text-center">
                                    <!-- Hình ảnh sách -->
                                    <img src="/public/images/section/h5.jpg" alt="Hình ảnh sách" class="img-fluid"
                                        style=" height: 170px;">
                                </div>
                                <div class="col-md-12 col-12 text-center mt-3">
                                    <!-- Tên sách -->
                                    <p class="fw-bold">Nghệ Thuật Hiện Diện</p>
                                    <!-- Giá -->
                                    <p class="text-decoration-line-through">95.000 đ</p>
                                    <p class="fw-bold text-danger">80.000 đ</p>
                                </div>

                                <div class="text-center">
                                    <a href="" class="btn btn-dark">
                                        Thêm giỏ hàng
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-12 p-3 bg-white">
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-md-12 col-12 text-center">
                                    <!-- Hình ảnh sách -->
                                    <img src="/public/images/section/h5.jpg" alt="Hình ảnh sách" class="img-fluid"
                                        style=" height: 170px;">
                                </div>
                                <div class="col-md-12 col-12 text-center mt-3">
                                    <!-- Tên sách -->
                                    <p class="fw-bold">Nghệ Thuật Hiện Diện</p>
                                    <!-- Giá -->
                                    <p class="text-decoration-line-through">95.000 đ</p>
                                    <p class="fw-bold text-danger">80.000 đ</p>
                                </div>

                                <div class="text-center">
                                    <a href="" class="btn btn-dark">
                                        Thêm giỏ hàng
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <button class="fs-1 position-fixed bottom-0 end-0 border-0 bg-transparent">
            <a href="#body" style="color: #3aafa9;"><i class="fa-solid fa-circle-up"></i></a>
        </button>
    </main>


    <footer class="fw-bold text mt-4" style="background-color: #def2f1; color: #17252a;">
        <div class="container-fluid text-center">
            <div class="container p-4">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="fw-bold">Hỗ Trợ Khách Hàng</h4>
                        <p class="mb-0 fw-bold">Email: Bookstore@gamil.com</p>
                        <p class="mb-0 fw-bold">Hotline: 19006060</p>
                    </div>
                    <div class="col-md-3 my-3 my-md-0">
                        <h4 class="fw-bold">Giới thiệu</h4>
                        <p class="mb-0 fw-bold"><a href="" class="text-decoration-none">Thông tin về shop</a>
                        </p>
                        <p class="mb-0 fw-bold"><a href="" class="text-decoration-none">Tuyển Dụng</a></p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <h4 class="fw-bold">Tài Khoản</h4>
                        <p class="mb-0 fw-bold"><a href="" class="text-decoration-none">Đăng nhập</a></p>
                        <p class="mb-0 fw-bold"><a href="" class="text-decoration-none">Đăng ký</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 class="fw-bold">Hướng Dẫn</h4>
                        <p class="mb-0 fw-bold mb-0 mb-md-3"><a href="" class="text-decoration-none">Hướng dẫn
                                mua hàng</a>
                        </p>
                        <p class="mb-0 fw-bold mb-0 mb-md-3"><a href="" class="text-decoration-none">Phương
                                thức thanh
                                toán</a>
                        </p>
                        <p class="mb-0 fw-bold mb-0 mb-md-3"><a href="" class="text-decoration-none">câu hỏi
                                thường gặp</a>
                        </p>
                    </div>
                </div>
                <hr>
                <div>
                    <div class=" d-flex justify-content-center">
                        <p class="mb-0 fw-bold">Copyright © 2023 Bookstore.vn</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="mb-0 fw-bold">Địa chỉ: Ninh Kiều, Cần Thơ</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img src="/public/images/footer/dathongbao.png" alt="" style="width: 220px; height: 83px;">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public//js/zoom-master/jquery.zoom.min.js"></script>
    <script src="/public/js/jquery.pan-master/dist/jquery.pan.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script>
        $().ready(() => {

            // $('img')
            //     .wrap('<span style="display:inline-block"></span>')
            //     .css('display', 'block')
            //     .parent()
            //     .zoom();

            $(".pan").pan();

            $('.cart-btn-close').each(function () {
                $(this).on('click', () => {
                    $.confirm({
                        title: 'Xác nhận xóa!',
                        content: 'Bạn muốn xóa sản phẩm này?',
                        buttons: {
                            confirm: function () {
                                $.alert('Confirmed!');
                            },
                            cancel: function () {
                                $.alert('Canceled!');
                            },
                        }
                    });
                })
            })
        });
    </script>

</body>

</html>