<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">

    <title>Đăng nhập</title>
    <style>
        .form-floating>label {
            transition: transform 0.2s ease-in-out;
        }

        .btn-hover-dark:hover {
            background: #000 !important;
        }

        #draggable:hover {
            cursor: move;
        }

        @keyframes transformX {
            from {
                transform: translateX(-55%);
            }

            to {
                transform: translateX(0);
            }
        }

        body {
            background: url('/./public/images/background/login.jpg');
        }
    </style>
</head>

<body>
      <header class="fw-bold bg-black position-sticky top-0 shadow-sm z-2">
        <div class="container-fluid" style="background-color: #0c6;">
            <div class="container py-2 px-3">
                <div class="row align-items-center justify-content-around my-1">

                    <div class="col-md-3 col-3 d-flex justify-content-center">
                     <img src="/public/images/logo/store.png" alt="" style="width: 175px;">
                    </div>

                    <div class="col-md-6 col-6 d-flex justify-content-end position-relative d-none d-md-block">
                        <input type="text" placeholder="Tìm Kiếm" class="w-100 py-2 px-1 border-0 px-3 rounded-5"
                            style="width: 150px; outline: none;">
                        <i class="fa-solid fa-magnifying-glass position-absolute" style="top: 12px; right: 30px;"></i>
                    </div>

                    <div class="text-center col-md-3 col-3 d-flex d-md-block">
                        <a href="" class="me-3"><i class="fa-solid fa-user fs-3 text-white"></i></a>
                        <a href="" class=""><i class="fa-solid fa-cart-arrow-down fs-3 text-white "></i> </a>
                    </div>

                    <div class="col-md-12 position-relative d-block d-md-none mb-3">
                        <input type="text" placeholder="Tìm Kiếm" class="w-100 py-2 px-1 border-0 px-3 rounded-5"
                            style="width: 150px; outline: none;">
                        <i class="fa-solid fa-magnifying-glass position-absolute"style="top: 12px; right: 30px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="container d-flex flex-column justify-content-center overflow-hidden"
        style="min-height: 100vh;">
        <div class="d-flex justify-content-end mx-2 mx-md-0" style="animation: transformX 0.5s ease-out;">
            <div id="draggable" class="bg-dark text-white p-4 rounded-3 shadow-lg col col-lg-5">
                <div class="fs-2 fw-semibold text-center mb-5 ">Đăng nhập</div>
                <form id="login_form" class="d-flex flex-column">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control shadow-none" name="email" id="email"
                            placeholder="name@example.com" autocomplete="off">
                        <label for="email" class="text-dark-emphasis">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control shadow-none" name="password" id="password"
                            placeholder="Mật khẩu">
                        <label for="password" class="text-dark-emphasis">Mật khẩu</label>
                    </div>

                    <div class="mt-4 mb-2 text-end">
                        <a href="../forgotPass/" class="mb-0 text-decoration-none fw-bold" style="color: #00cc66;">Quên
                            mật khẩu?</a>
                    </div>

                    <button type="submit" class="btn-hover-dark mb-4 btn text-white fw-semibold"
                        style="background: #00cc66;">
                        Đăng nhập
                    </button>
                </form>
                <p class="d-flex py-2 gap-2 mb-0 fw-bold">
                    Chưa có tài khoản?
                    <a href="../signup/" style="color: #00cc66;">Đăng ký</a>
                </p>
            </div>
        </div>
    </main>

        <footer class="fw-bold bg-black text-white">
        <div class="container-fluid text-center">
            <div class="container p-4">
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="fw-bold">Hỗ Trợ Khách Hàng</h4>
                        <p class="mb-0 fw-bold">Email: Bookstore@gamil.com</p>
                        <p class="mb-0 fw-bold">Hotline: 19006060</p>
                    </div>
                    <div class="col-md-3 my-3 my-md-0">
                        <h4 class="fw-bold">Giới thiệu</h4>
                        <p class="mb-0 fw-bold"><a href="" class="text-decoration-none">Thông tin về shop</a>
                        </p>
                        <p class="mb-0 fw-bold"><a href="" class="text-decoration-none">Tuyển Dụng</a></p>
                    </div>
                    <div class="col-md-3 mb-3">
                        <h4 class="fw-bold">Tài Khoản</h4>
                        <p class="mb-0 fw-bold"><a href="" class="text-decoration-none">Đăng nhập</a></p>
                        <p class="mb-0 fw-bold"><a href="" class="text-decoration-none">Đăng ký</a></p>
                    </div>
                    <div class="col-md-3">
                        <h4 class="fw-bold">Hướng Dẫn</h4>
                        <p class="mb-0 fw-bold mb-0 mb-md-3"><a href="" class="text-decoration-none">Hướng dẫn
                                mua hàng</a>
                        </p>
                        <p class="mb-0 fw-bold mb-0 mb-md-3"><a href="" class="text-decoration-none">Phương
                                thức thanh
                                toán</a>
                        </p>
                        <p class="mb-0 fw-bold mb-0 mb-md-3"><a href="" class="text-decoration-none">câu hỏi
                                thường gặp</a>
                        </p>
                    </div>
                </div>
                <hr>
                <div>
                    <div class=" d-flex justify-content-center">
                        <p class="mb-0 fw-bold">Copyright © 2023 Bookstore.vn</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="mb-0 fw-bold">Địa chỉ: Ninh Kiều, Cần Thơ</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
        integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
        integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $.validator.setDefaults({
            submitHandler: function () {
                alert('submitted!');
            }
        })
        $().ready(() => {
            $('#login_form').validate({
                rules: {
                    email: {
                        required: true,
                        email: true,
                    },
                    password: {
                        required: true,
                        minlength: 5,
                    },
                },
                messages: {
                    email: 'Email không hợp lệ',
                    password: {
                        required: 'Vui lòng nhập mật khẩu',
                        minlength: 'Mật khẩu phải có ít nhất 5 ký tự',
                    },
                },
                errorElement: 'span',
                errorPlacement: (error, element) => {
                    error.addClass('invalid-feedback');
                    error.insertAfter(element);
                },
                highlight: (element, errorClass, validClass) => {
                    $(element).addClass('is-invalid').removeClass('is-valid');
                },
                unhighlight: (element, errorClass, validClass) => {
                    $(element).addClass('is-valid').removeClass('is-invalid');
                },
            })
        })
        $("#draggable").draggable()
    </script>

</body>

</html>